<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <div class="card">
 <h1>Reset your password </h1>
    <form action="/forget-password" method="post">
        <lable> Email </lable>
        <input type="text" required name="email">
        <button type="submit">submit</button>
    </form>
    </div>
   
</body>
</html>