<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link rel="stylesheet" href="/public/css/saini.css">
</head>
<body>
    <nav>
        <div class="first">
            <div class="navbar"></div>
            <div class="heading">
                <h1>Hello, <% if (locals.user) { %><%= locals.user.name %><% } %></h1>
            </div>
            <% if (!locals.user) { %>
                <a  id="login" href="/login"><button>login</button></a>
            <!-- </div>
        </div> -->
        <a  id="signup" href="/signup"><button>signup</button></a>
        <% } else { %>
            <a  id="logout" href="/logout"><button>logout</button></a>
            <% } %>
            
            
            
        </div>
        <h1 class="text-center">Job Tracker</h1>
            <!-- Updated form tag with action and method attributes -->
            <form id="jobForm" action="/job/create" method="post" enctype="multipart/form-data">
                <input type="text" id="jobTitle" name="jobTitle" placeholder="Job Title" required>
                <input type="text" id="jobDisc" name="jobDisc" placeholder="Job Discription" required>
                <input type="number" id="orderValue" name="orderValue" placeholder="Order value" required>
                <input type="text" id="orderNumber" name="orderNumber" placeholder="Order Number" required>
                <input type="date" id="date" name="date" required>
                <input type="file" id="file" name="file">
               <button type="submit">Add job</button>
            </form>            
            <form id="searchForm">
                <input type="text" name="query" placeholder="Search by Job Title" required>
                <button type="submit">Search</button>
            </form>
            <div class="line"></div>
            <div id="jobList">
                
        </div>
        
    </nav>
   
  
   



    <script src="/public/js/script.js"></script>
</body>
</html>
