<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <div class="card">
<h1>Login</h1>
    <form action="/login" method="post">
        <div class="label1">
            <lable> email </lable>
        <input type="text" required name="email">
        </div>

        <div class="label2">
           <lable> password </lable>
        <input type="password" required name="password">
        </div>
       
       
        <button type="submit">login</button>
    </form>
    <a id="forget" href="forget">forget password</a>
    </div>
    
    
</body>
</html>