<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/css/signup.css">
</head>
<body>
    <h1>signup</h1>
    <form action="/signup" method="post">
        <lable> Full name </lable>
        <input type="text" required name="name">
        <lable> email </lable>
        <input type="text" required name="email">
        <lable> password </lable>
        <input type="text" required name="password">
       
        
        <button type="submit">signup</button>
    </form>
    
</body>
</html>