<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/signup.css">
</head>
<body>
    <h1>signup</h1>
    <form action="/signup" method="post">
        <div class="input-field">
            <lable>Full Name</lable>
            <input type="text" required name="name">
        </div>
        <div class="input-field">
            <lable>Email</lable>
        <input type="text" required name="email">
        </div>
        <div class="input-field">
            <lable>Password</lable>
            <input type="password" required name="password">
        </div>
        
        <button type="submit">signup</button>
    </form>
    
</body>
</html>